1. The brief
Imagine working for a digital marketing agency, and the agency is approached by a massive online retailer of furniture. They want to test our skills at creating large campaigns for all of their website. We are tasked with creating a prototype set of keywords for search campaigns for their sofas section. The client says that they want us to generate keywords for the following products:

sofas
convertible sofas
love seats
recliners
sofa beds
The brief: The client is generally a low-cost retailer, offering many promotions and discounts. We will need to focus on such keywords. We will also need to move away from luxury keywords and topics, as we are targeting price-sensitive customers. Because we are going to be tight on budget, it would be good to focus on a tightly targeted set of keywords and make sure they are all set to exact and phrase match.

Based on the brief above we will first need to generate a list of words, that together with the products given above would make for good keywords. Here are some examples:

Products: sofas, recliners
Words: buy, prices
The resulting keywords: 'buy sofas', 'sofas buy', 'buy recliners', 'recliners buy', 'prices sofas', 'sofas prices', 'prices recliners', 'recliners prices'.

In [1]:
words = ['buy', 'promotion', 'cheap', 'offer', 'purchase', 'sale']
print(words)

['buy', 'promotion', 'cheap', 'offer', 'purchase', 'sale']

In [2]:
products = ['sofas', 'convertible sofas','love seats', 'recliners', 'sofa bed']
print(products)

['sofas', 'convertible sofas', 'love seats', 'recliners', 'sofa bed']

In [4]:
keyword_list = []

for product in products:
    for word in words:
        keyword_list.append([product, product +' '+ word])
        keyword_list.append([product, word +' '+ product])
        
print(keyword_list)

[['sofas', 'sofas buy'], ['sofas', 'buy sofas'], ['sofas', 'sofas promotion'], ['sofas', 'promotion sofas'], ['sofas', 'sofas cheap'], ['sofas', 'cheap sofas'], ['sofas', 'sofas offer'], ['sofas', 'offer sofas'], ['sofas', 'sofas purchase'], ['sofas', 'purchase sofas'], ['sofas', 'sofas sale'], ['sofas', 'sale sofas'], ['convertible sofas', 'convertible sofas buy'], ['convertible sofas', 'buy convertible sofas'], ['convertible sofas', 'convertible sofas promotion'], ['convertible sofas', 'promotion convertible sofas'], ['convertible sofas', 'convertible sofas cheap'], ['convertible sofas', 'cheap convertible sofas'], ['convertible sofas', 'convertible sofas offer'], ['convertible sofas', 'offer convertible sofas'], ['convertible sofas', 'convertible sofas purchase'], ['convertible sofas', 'purchase convertible sofas'], ['convertible sofas', 'convertible sofas sale'], ['convertible sofas', 'sale convertible sofas'], ['love seats', 'love seats buy'], ['love seats', 'buy love seats'], ['love seats', 'love seats promotion'], ['love seats', 'promotion love seats'], ['love seats', 'love seats cheap'], ['love seats', 'cheap love seats'], ['love seats', 'love seats offer'], ['love seats', 'offer love seats'], ['love seats', 'love seats purchase'], ['love seats', 'purchase love seats'], ['love seats', 'love seats sale'], ['love seats', 'sale love seats'], ['recliners', 'recliners buy'], ['recliners', 'buy recliners'], ['recliners', 'recliners promotion'], ['recliners', 'promotion recliners'], ['recliners', 'recliners cheap'], ['recliners', 'cheap recliners'], ['recliners', 'recliners offer'], ['recliners', 'offer recliners'], ['recliners', 'recliners purchase'], ['recliners', 'purchase recliners'], ['recliners', 'recliners sale'], ['recliners', 'sale recliners'], ['sofa bed', 'sofa bed buy'], ['sofa bed', 'buy sofa bed'], ['sofa bed', 'sofa bed promotion'], ['sofa bed', 'promotion sofa bed'], ['sofa bed', 'sofa bed cheap'], ['sofa bed', 'cheap sofa bed'], ['sofa bed', 'sofa bed offer'], ['sofa bed', 'offer sofa bed'], ['sofa bed', 'sofa bed purchase'], ['sofa bed', 'purchase sofa bed'], ['sofa bed', 'sofa bed sale'], ['sofa bed', 'sale sofa bed']]

## Then we will turn this list into a data frame

In [6]:
import pandas as pd

In [8]:
df_keywords = pd.DataFrame.from_records(keyword_list)

In [9]:
df_keywords.head()

       0                1
0  sofas        sofas buy
1  sofas        buy sofas
2  sofas  sofas promotion
3  sofas  promotion sofas
4  sofas      sofas cheap

## Renaming the columns from 0 and 1 to Ad Group and Keyword

In [10]:
df_keywords. columns = ['Ad Group', 'Keyword']

In [11]:
df_keywords.head()

  Ad Group          Keyword
0    sofas        sofas buy
1    sofas        buy sofas
2    sofas  sofas promotion
3    sofas  promotion sofas
4    sofas      sofas cheap

## Creating a new column 'Campaign'

In [12]:
df_keywords['Campaign'] = 'SEM_Sofas'

## Adding a 'Criterion Type' column

In [13]:
df_keywords['Criterion Type'] = 'Exact'

In [14]:
df_keywords.head()

  Ad Group          Keyword   Campaign Criterion Type
0    sofas        sofas buy  SEM_Sofas          Exact
1    sofas        buy sofas  SEM_Sofas          Exact
2    sofas  sofas promotion  SEM_Sofas          Exact
3    sofas  promotion sofas  SEM_Sofas          Exact
4    sofas      sofas cheap  SEM_Sofas          Exact

The great thing about exact match is that it is very specific, and we can control the process very well. The tradeoff, however, is that:

The search volume for exact match is lower than other match types
We can't possibly think of all the ways in which people search, and so, we are probably missing out on some high-quality keywords.

So it's good to use another match called phrase match as a discovery mechanism to allow our ads to be triggered by keywords that include our exact match keywords, together with anything before (or after) them

In [19]:
keywords_phrase = df_keywords.copy()

In [23]:
keywords_phrase['Criterion Type'] = 'Phrase'
keywords_final_df= df_keywords.append(keywords_phrase)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15340\690182770.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  keywords_final_df= df_keywords.append(keywords_phrase)

In [25]:
keywords_final_df.to_csv('keywords.csv', index= False)

In [30]:
summary = keywords_final_df.groupby(['Ad Group', 'Criterion Type'])['Keyword'].count()
print(summary)

Ad Group           Criterion Type
convertible sofas  Exact             12
                   Phrase            12
love seats         Exact             12
                   Phrase            12
recliners          Exact             12
                   Phrase            12
sofa bed           Exact             12
                   Phrase            12
sofas              Exact             12
                   Phrase            12
Name: Keyword, dtype: int64